body {
  font-family: "Roboto", "Raleway", sans-serif;
}
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
  text-decoration: none;
}
.header-contacts-item {
  font-style: normal;
}

.logo-color {
  color: var(--iris);
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
}

.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

/* section hero */

.hero {
  background-color: var(--navy-blue);
  width: 1440px;
  height: 600px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

/* Section 1 */

.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.benefits-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Section 2  */

.team-section {
  background-color: var(--cloud);
}

.team-subtitle {
  text-align: center;
}

.team-text {
  text-align: center;
}

/* /Section 2 */

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.section-text {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* Portfolio */

.portfolio-section {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-subtitle {
}
.potfolio-text {
}
/* /Portfolio */

/* footer */

.bottom {
  background-color: var(--navy-blue);
}
.footer-logo {
  text-decoration: none;
}
